.woodmart-nav-link {
	white-space: nowrap !important;
	width: unset !important;
	width: auto !important;
	display: inline-block !important;
}

*,
*::before,
*::after {
	scroll-behavior: smooth;
}

.wine-search__container {
	opacity: 1;
}

.wine-search__container h2.wine-search__title {
	margin: 40px 0;
	font-family: 'Playfair Display';
	color: #fff !important;
	font-size: 40px !important;
	line-height: 1.33;
	font-weight: 700 !important;
	text-align: center;
}

.wine-search__form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-shrink: 0;
	width: 100%;
	position: relative;
	background-color: white;
}

.wine-search__img-container {
	margin-left: 20px;
}

.wine-search__text-label {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 25% !important;
	position: relative;
}

.wine-search__text-input {
	width: 100% !important;
}

.wine-search__attribute-container {
	width: 20%;
	position: relative;
}

.wine-search__attribute-container::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 70%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.wine-search__attribute-container ul {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	max-height: 460px;
	overflow-y: scroll;
	transform: translateY(100%);
	display: none;
}

.wine-search__attribute-container ul li {
	margin-bottom: 0;
	background-color: #fff;

}

.wine-search__attribute-container label {
	width: 100%;
	display: flex;
	border: none;
	/* border-left: 1px solid rgba(0, 0, 0, 0.1); */
	margin: 0;
	cursor: pointer;
	background-color: #fff;
}

/* 
.attribute-label:active,
.attribute-label input:active~label {
	background-color: #EEEEEE;
} */

.attribute-label:focus {
	background-color: #EEEEEE;
}


.attribute-label:hover+ul,
.attribute-label:active+ul,
.wine-search__attribute-container>label>input:hover~ul,
.wine-search__attribute-container>label>input:focus~ul,
.wine-search__attribute-container ul:hover {
	display: block;
}

.wine-search__attribute-container label:hover,
.wine-search__attribute-container label:active,
.wine-search__attribute-container input:hover+label,
.wine-search__attribute-container input:active+label {
	background: #EEEEEE;
}

.wine-search__search {
	padding: 2px 3px;
	background-color: white;
	display: flex;
	align-items: center;
	border-radius: 4px;
	height: 60px;
}

.wine-search__form input[type="text"] {
	width: 25%;
	border: none;
}

.wine-search__form input[type="submit"] {
	width: 10%;
	border: none;
	background-color: black;
	color: white;
	height: 54px;
	border-radius: 4px;
}


.wine-search__form .attribute-label {
	position: relative;
}

.wine-search__form .attribute-label .attribute-input {
	width: 100% !important;
	height: auto !important;
	padding: 20px;
}

.wine-search__form .term-label {
	padding: 10px 20px;
}

.wine-search__form .term-label input[type="checkbox"] {
	opacity: 0;
	width: 1px;
}

.wine-display .product-element-top {
	padding: 10px;
	border: 1px solid #544A80;
	border-radius: 50%;
}

.wine-display a>img {
	border-radius: 50% !important;
	overflow: hidden !important;
}

.search-results__container {
	display: flex;
}
